.modal-menu {
    .modal-menu-item {
        display: inline-block;
        background: black;
        color: white;
        padding: 5px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: -moz-none;
        /*IE10*/
        -ms-user-select: none;
        user-select: none;


        &:hover {
            background: gray;
        }
    }

    .modal-menu-item.select {
        color: rgb(204, 201, 172);
        font-weight: bold;
    }
}

#plugin-list-items, #plugin-event-list {
    margin-bottom: 15px;

    .plugin-list-item {
        margin: 5px 0;
    }
}

.modal {
    .button {
        margin: 5px;
    }

    h1 {
        text-align: center;
    }

    .form-row {
        margin: 10px 0;

        .list-column {
            min-width: 200px;
            display: inline-block;
        }

        .label {
            min-width: 40%;
            display: inline-block;
            text-align: right;
            padding-right: 5%;
            box-sizing: border-box;
        }

        input {
            padding: 10px;
            min-width: 50%;
            box-sizing: border-box;
            margin: 0;

            &.small-width {
                min-width: 0;
                margin: 10px;
            }

            &[type*=color] {
                box-sizing: border-box;
                padding: 0 2px;
                height: 40px;
                vertical-align: middle;
            }

            &[type*=range] {
                vertical-align: middle;
            }
        }

        select {
            padding: 10px;
            min-width: 50%;
        }
    }

    .overflower {
        overflow: auto;
        height: 80%;
        position: relative;
        top: 35px;
    }
}

@media(max-width: 540px) {

    .modal {
        .form-row {

            .label {
                text-align: center;
                min-width: 100%;
                padding: 8px;
            }

            input {
                min-width: 100%;
            }

            select {
                min-width: 100%;
            }
        }
    }
}
