@font-face {
  font-family: 'KulminoituvaRegular';
  src: url('http://www.miketaylr.com/f/kulminoituva.ttf');
}
body {
  font-family: "Josefin Sans";
}
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
input[type*=checkbox] {
  width: 25px;
  height: 25px;
  margin: 0 10px;
  vertical-align: middle;
}
.header,
.footer,
.header-push,
.footer-push {
  height: 50px;
}
.header,
.footer {
  background: black;
  color: white;
}
.header h1,
.footer h1 {
  margin: 0;
  line-height: 50px;
}
.header h1,
.footer h1,
.header .button,
.footer .button {
  display: inline-block;
  vertical-align: middle;
}
.footer,
.footer-push {
  clear: both;
}
.header {
  position: fixed;
  width: 100%;
}
.footer {
  margin-top: -50px;
}
.main-container {
  min-height: 100%;
  max-height: 100%;
}
/*IE9*/
canvas::selection {
  background-color: transparent;
}
canvas::-moz-selection {
  background-color: transparent;
}
canvas {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  /*IE10*/
  -ms-user-select: none;
  user-select: none;
  display: block;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.button {
  background: gray;
  cursor: pointer;
  padding: 5px;
  display: inline-block;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  /*IE10*/
  -ms-user-select: none;
  user-select: none;
}
.button:hover {
  background: darkgray;
}
.hidden {
  display: none !important;
}
#modal-cover,
#confirm-cover {
  background: rgba(25, 25, 25, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  top: 0;
  left: 0;
}
.modal {
  background: #f1f1ec;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 50%;
  min-height: 200px;
  max-height: 80%;
  z-index: 1000;
  box-sizing: border-box;
  padding: 0 10px;
  box-shadow: 5px 4px 9px 0px #191919;
}
.modal h2 {
  display: block;
  text-align: center;
}
.modal textarea {
  display: block;
  min-width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 10px 0;
  min-height: 100px;
}
.modal .x {
  cursor: pointer;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 25px;
  display: block;
  color: red;
  position: absolute;
  right: 5px;
  top: 5px;
}
.modal .x:hover {
  color: darkred;
}
@media (max-width: 1200px) {
  .modal {
    width: 70%;
  }
}
@media (max-width: 900px) {
  .modal {
    width: 90%;
    max-height: 90%;
  }
}
.line {
  margin: 10px 0;
}
#confirm-box {
  position: absolute;
  top: 50px;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  z-index: 5000;
  padding: 30px;
  font-size: 25px;
  box-sizing: border-box;
  border: 1px solid white;
  box-shadow: black 5px 5px 5px 0;
}
#confirm-box .button {
  margin: 10px;
  text-align: center;
  min-width: 80px;
  border: none;
  font-size: 25px;
}
#confirm-box .button:focus {
  background: orange;
}
#confirm-cover {
  z-index: 4999;
  background: rgba(0, 0, 0, 0.5);
}
body .cover {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 2000;
  background: rgba(255, 255, 255, 0.9);
  top: 0;
  left: 0;
}
body .cover canvas {
  position: absolute;
  left: 0;
  top: 0;
}
body .cover .dashed-border,
body .cover .central {
  border: 5px dashed gray;
  height: 90%;
  margin: 2%;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
  z-index: 3000;
  position: relative;
}
body .cover .dashed-border .cover-text,
body .cover .central .cover-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 20px;
  width: 145px;
}
body #drag-drop-bad {
  background: red;
  color: white;
}
#landing {
  background: #FFA500;
  color: white;
  cursor: pointer;
  opacity: 1;
}
#landing .central {
  border: none;
  margin: 0;
  padding: 0;
  height: 100%;
}
@media (min-width: 500px) {
  #landing .central {
    background: url(../assets/landing.png);
  }
}
#landing .central .cover-text h1 {
  font-size: 34px;
  margin-top: 0;
}
#landing.faded {
  transition: ease-in all 2s;
  /*-webkit-transition: ease-in all 3s;
        -moz-transition: ease-in all 3s;
        top:0;
        opacity: 0;*/
}
#landing.hidden {
  transition: ease-in all 0.5s;
  background: #000000;
  margin-top: -400%;
  display: block;
}
.modal-menu .modal-menu-item {
  display: inline-block;
  background: black;
  color: white;
  padding: 5px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  /*IE10*/
  -ms-user-select: none;
  user-select: none;
}
.modal-menu .modal-menu-item:hover {
  background: gray;
}
.modal-menu .modal-menu-item.select {
  color: #ccc9ac;
  font-weight: bold;
}
#plugin-list-items,
#plugin-event-list {
  margin-bottom: 15px;
}
#plugin-list-items .plugin-list-item,
#plugin-event-list .plugin-list-item {
  margin: 5px 0;
}
.modal .button {
  margin: 5px;
}
.modal h1 {
  text-align: center;
}
.modal .form-row {
  margin: 10px 0;
}
.modal .form-row .label {
  min-width: 40%;
  display: inline-block;
  text-align: right;
  padding-right: 5%;
  box-sizing: border-box;
}
.modal .form-row input {
  padding: 10px;
  min-width: 50%;
  box-sizing: border-box;
  margin: 0;
}
.modal .form-row input.small-width {
  min-width: 0;
  margin: 10px;
}
.modal .form-row input[type*=color] {
  box-sizing: content-box;
}
.modal .overflower {
  overflow: auto;
  height: 80%;
  position: relative;
  top: 35px;
}
@media (max-width: 540px) {
  .modal .form-row input {
    min-width: 90%;
  }
}
body .menu-button {
  position: fixed;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  border-radius: 0 15px 0 15px;
  box-shadow: 0 0 3px 1px gray;
  cursor: pointer;
  transition: border-radius 0.25s;
  -webkit-transition: border-radius 0.25s;
  -moz-transition: border-radius 0.25s;
  -o-transition: border-radius 0.25s;
}
body .menu-button:hover {
  box-shadow: 0 0 3px 1px white;
}
body .menu-button:hover .menu-line {
  background: white;
}
body .menu-button .menu-line {
  position: fixed;
  background: gray;
  box-shadow: 0 0 10px 1px gray;
  height: 2px;
  width: 20px;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  right: 15px;
}
body .menu-button .menu-line:first-child {
  top: 20px;
}
body .menu-button .menu-line:nth-child(2) {
  top: 25px;
}
body .menu-button .menu-line:nth-child(3) {
  top: 30px;
}
body .menu-button.open {
  border-radius: 15px 30px 15px 0;
}
body .menu-button.open .menu-line {
  background: red;
  box-shadow: red 0 0 15px 2px;
}
body .menu-button.open .menu-line:first-child {
  transform: translate(-10px, 5px) rotate(-90deg);
}
body .menu-button.open .menu-line:nth-child(2) {
  transform: rotate(-45deg);
}
body .menu-button.open .menu-line:nth-child(3) {
  transform: translate(0, 5px) rotate(180deg);
}
body .menu {
  display: none;
  position: fixed;
  top: 50px;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
}
body .menu .menu-item {
  display: inline-block;
  background: black;
  min-width: 120px;
  min-height: 120px;
  border-radius: 60px;
  margin: 10px;
  color: white;
  cursor: pointer;
  vertical-align: top;
  text-align: center;
  padding: 48px 0;
  box-sizing: border-box;
}
body .menu .menu-item:hover {
  box-shadow: 0 0 5px 2px gray;
  background: #3c3838;
}
body .menu svg {
  cursor: pointer;
}
body .menu svg:hover path {
  fill: #3c3838;
}
body .menu.open {
  display: block;
}
/*# sourceMappingURL=styles.css.map */