<html>
<head>
	<title>inknote</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="styles.css">
	 
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-52254492-1', 'michalpaszkiewicz.co.uk');
		  ga('send', 'pageview');	
		</script>
</head>
<body>
	<div id="main-container" ng-app="app">
		 <img id="canvasImg">
	  <div ng-controller="canvasCtrl">
	  
	  	<div id="new-instrument" ng-show="openInstrumentName()">
			<input ng-model="instrumentName"></input>
			<div class="button-container">
				<div class="button" ng-click="addInstrument(instrumentName); toggleNewInstrument();">Save</div>
				<div class="button" ng-click="toggleNewInstrument();">Cancel</div>
			</div>
		</div>
	  	<div class="menu-container">
		  	<div class="menu" ng-class='{"selected":menu}'>
		  		<div class="menu-item">
		  			<div class="menu-item-name">File</div>
		  			<ul class="sub-items">
		  				<li class="sub-item">
		  					<div class="sub-item-name">New</div>
		  				</li>
		  				<li class="sub-item">
		  					<div class="sub-item-name">Open</div>
		  					<ul class="sub-sub-items">
		  						<li class="sub-sub-item" ng-repeat="file in files">{{file.name}}</li>
		  					</ul>
		  				</li>
		  				<li class="sub-item">
		  					<div class="sub-item-name">Save</div>
		  				</li>
		  				<li class="sub-item">
		  					<div class="sub-item-name">Page setup</div>
		  				</li>
		  			</ul>
		  		</div>
		  		<div class="menu-item">
		  			<div class="menu-item-name">Edit</div>
		  		</div>
		  		<div class="instruments-menu menu-item" ng-class='{"selected":menuitem}' ng-click='menuitem = (menuitem == null) ? true : !menuitem;'>
		  			<div class="menu-item-name">Instruments</div>
			  		<ul class="sub-items">
			  			<li class="instrument sub-item">
			  				All instruments
			  			</li>
			  			<li class="instrument sub-item" ng-repeat="instrument in instruments">
			  				[{{instrument.name}}, {{instrument.id}}]
			  			</li>
			  			<li class="instrument sub-item" ng-click='toggleNewInstrument()'>
			  				New instrument
			  			</li>
			  		</ul>
		  		</div>
		  		<div class="menu-item">
		  			<div class="menu-item-name" ng-click="menu= (menu == null) ? true : !menu;">Toggle menu</div>
		  		</div>
		  	</div>
	  	</div>
		
		<canvas id="canvas" ng-click="action($event)"></canvas>
		<div id="list">
		<ul>
			<li ng-repeat="instrument in instruments">
				<ul>
					<li ng-repeat="bar in instrument.bars">				
						<ul>
							<li ng-repeat="note in bar.notes">[{{bar.id}}, {{note.id}}] <a ng-click="removeNote(bar, note)">[x]</a></li>
						<ul>
					</li>
				</ul>
			</li>
		</ul>
		</div>
		<div style="clear: both"/>
	  </div>
	</div>
	
	<script src="splashscreen.js"></script>	
	<script src="score.js"></script>
</body>

