html, body{
	padding:0;
	margin: 0;
	overflow: hidden;
}

canvas{
    cursor: crosshair;
    position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

a{
    cursor: pointer;
}

#list{
	position: fixed;
	top: 50px;
	right: 50px;
	background: rgb(231, 234, 240);
	border-radius: 10px;
	padding: 20px;
	z-index: 100;
	opacity: 0.8;
}

#list ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu-container{
	height: 40px;
	z-index: 500;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

.menu-container .menu{
	float: right;
	/* display: none; */
	top: -40px;
	position: absolute;
	right: 0;
	transition: 0.1s top;
}

.menu-container:hover .menu, .menu.selected{
	//display: block;
	top: 0px
}

.menu-item{
	float: left;
}

.menu-item-name{
	padding: 10px;
	list-style: none;
	background: rgb(221, 222, 255);
	box-sizing: border-box;
	box-shadow: 0 0 5px 1px black;
	cursor: pointer;
}

.menu-item-name:hover, .sub-item:hover .sub-sub-item:hover{
	background: rgb(176, 176, 229);
}

ul.sub-items{
	margin: 0;
	display: none;
	padding: 0;
}

.menu-item:hover ul.sub-items, .menu-item.selected ul.sub-items{
	display: block;
}

.sub-item, .sub-sub-item{
	padding: 10px;
	list-style: none;
	background: rgb(221, 222, 255);
	box-sizing: border-box;
	box-shadow: 0 0 5px 1px black;
	cursor: pointer;
}

.sub-sub-item{
	
}

#new-instrument{
	z-index: 50;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 300px;
	height: 120px;
	margin: auto;
	background: black;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 20px;
	box-shadow: 0 0 5px 1px;
}

.button-container{
	clear:both;
	margin: 10px;
	float: right;
}

.button-container .button{
	display: inline-block;
	padding: 10px;
	background: rgb(221, 222, 255);
	cursor: pointer;
	border-radius: 5px;
}

input{
	width: 100%;
	padding: 5px;
	line-height: 25px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 0 5px 2px rgb(130, 127, 176);
}
