html, body{
	padding:0;
	margin: 0;
	overflow: hidden;
}

canvas{
    cursor: crosshair;
    position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

a{
    cursor: pointer;
}

.menu-item-name{
	padding: 10px;
	list-style: none;
	box-sizing: border-box;
	cursor: pointer;
}

.menu-item-name:hover, .sub-item:hover, .sub-sub-item:hover, .sub-sub-sub-item:hover, .sub-sub-sub-sub-item:hover, .menu-item-name.first:hover, .menu-item:hover .menu-item-name{
	z-index: 1000;
	border-radius: 0;
}

ul.sub-items, ul.sub-sub-items, .sub-sub-sub-items, .sub-sub-sub-sub-items{
	margin: 0;
	display: none;
	padding: 0;
}

.menu-item:hover ul.sub-items, .menu-item.selected ul.sub-items{
	display: block;
}

li.sub-item:hover .sub-sub-items, li.sub-item.selected .sub-sub-items, 
.sub-sub-item:hover .sub-sub-sub-items, .sub-sub-sub-item:hover .sub-sub-sub-sub-items{
	display: block;
}

.instrument .sub-sub-sub-items{
	width: 80px;
}

.instrument .sub-sub-sub-sub-items{
	width: 60px;
}

.sub-sub-item{
	
}

.sub-item, .sub-sub-item, .sub-sub-sub-item, .sub-sub-sub-sub-item{
	padding: 10px;
	list-style: none;
	box-sizing: border-box;
	cursor: pointer;
	position: relative;
}

.sub-sub-items, .sub-sub-sub-items, .sub-sub-sub-sub-items{
	position: absolute;
	left: 100%;
	top: 0;
	padding: 0;
	width: 140px;
}

.sub-item.smaller, .sub-sub-item.smaller, .sub-sub-sub-item.smaller, .sub-sub-sub-sub-item.smaller{
	padding: 6px 10px;
}

.sub-item.no-pad, .sub-sub-item.no-pad, .no-pad, .sub-sub-sub-sub-item.no-pad{
	padding: 0;
}

.half{
	width: 50%;
	display: inline-block;
	padding: 10px;
	box-sizing: border-box;
}

.half.green, body .green, div.green, li.green{
	background: rgb(109, 200, 109);
}

.half.green:hover, body .green:hover, div.green:hover, li.green:hover{
	background: rgb(90, 180, 89);
}

.half.red{
	background: red;
}

.half.red:hover{
	background: rgb(207, 4, 4);;
}


.smaller .half{
	padding: 6px 10px;
}

#new-instrument{
	z-index: 50;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 300px;
	height: 120px;
	margin: auto;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 20px;
	box-shadow: 0 0 5px 1px;
}

.button-container{
	clear:both;
	margin: 10px;
	float: right;
}

.button-container .button, .button{
	display: inline-block;
	padding: 10px;
	cursor: pointer;
	border-radius: 5px;
}

input{
	width: 100%;
	padding: 5px;
	line-height: 25px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 0 5px 2px rgb(130, 127, 176);
}

#bug-reporter, #user-functions{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	background: black;
	color: white;
	z-index: 100;
	padding: 20px;
	border-radius: 30px;
	box-shadow: 0 0 6px 1px black;
}

#bug-reporter{
	width: 340px;
	height: 200px;
}

#user-functions{
	width: 300px;
	height: 300px;
}

#bug-reporter .button, .bug-reporter textarea{
	color: black;
}

#bug-reporter textarea{
	min-width: 100% !important;
}
