.menu-item-name{
	background: rgb(221, 222, 255);
	box-shadow: 0 0 5px 1px black;
}

.menu-item-name:hover, .sub-item:hover, .sub-sub-item:hover, .sub-sub-sub-item:hover, .sub-sub-sub-sub-item:hover, .menu-item-name.first:hover, .menu-item:hover .menu-item-name{
	background: rgb(176, 176, 229);
}

.sub-item, .sub-sub-item, .sub-sub-sub-item, .sub-sub-sub-sub-item{
	background: rgb(221, 222, 255);
	box-shadow: 0 0 5px 1px black;
}

.sub-item.smaller, .sub-sub-item.smaller, .sub-sub-sub-item.smaller, .sub-sub-sub-sub-item.smaller{
	background: rgb(224, 224, 224);
}

.sub-item.smaller:hover, .sub-sub-item.smaller:hover, .sub-sub-sub-item.smaller:hover, .sub-sub-sub-sub-item.smaller:hover{
	background: rgb(176, 176, 229);
}

.sub-item.no-pad:hover, .sub-sub-item.no-pad:hover{
	background: rgb(221, 222, 255);
}

.half:hover{
	background: rgb(176, 176, 229);
}

#new-instrument{
	background: black;
}

.button-container .button{
	background: rgb(221, 222, 255);
}

.user-functions-details .button{
	background: gray;
}

.user-functions-details .button:hover{
	background: gb(104, 103, 103);
}


