html, body{
	padding:0;
	margin: 0;
	overflow: hidden;
}

canvas{
    cursor: crosshair;
    position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

a{
    cursor: pointer;
}

.menu-item-name{
	padding: 10px;
	list-style: none;
	box-sizing: border-box;
	cursor: pointer;
}

.menu-item-name:hover, .sub-item:hover, .sub-sub-item:hover, .sub-sub-sub-item:hover, .sub-sub-sub-sub-item:hover, .menu-item-name.first:hover, .menu-item:hover .menu-item-name{
	background: rgb(176, 176, 229);
	z-index: 1000;
	border-radius: 0;
}

ul.sub-items, ul.sub-sub-items, .sub-sub-sub-items, .sub-sub-sub-sub-items{
	margin: 0;
	display: none;
	padding: 0;
}

.menu-item:hover ul.sub-items, .menu-item.selected ul.sub-items{
	display: block;
}

li.sub-item:hover .sub-sub-items, li.sub-item.selected .sub-sub-items, 
.sub-sub-item:hover .sub-sub-sub-items, .sub-sub-sub-item:hover .sub-sub-sub-sub-items{
	display: block;
}

.instrument .sub-sub-sub-items{
	width: 80px;
}

.instrument .sub-sub-sub-sub-items{
	width: 60px;
}

.sub-sub-item{
	
}

.sub-item, .sub-sub-item, .sub-sub-sub-item, .sub-sub-sub-sub-item{
	padding: 10px;
	list-style: none;
	box-sizing: border-box;
	cursor: pointer;
	position: relative;
}
