html, body{
	padding:0;
	margin: 0;
	overflow: hidden;
}

canvas{
    cursor: crosshair;
    position: absolute;
	top: 0;
	left: 0;
}

a{
    cursor: pointer;
}

#list{
	position: fixed;
	top: 50px;
	right: 50px;
	background: rgb(231, 234, 240);
	border-radius: 10px;
	padding: 20px;
}

#list ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu-container .menu{
	float: right;
}

.instruments-menu{
	margin: 0;
}

.instrument{
	padding: 10px;
	list-style: none;
	background: rgb(241, 255, 233);
	box-sizing: border-box;
	box-shadow: 0 0 5px 1px darkgreen;
}
