html, body{
	margin: 0;
	padding: 0;
}

.main-container{
	min-height: 100%;
}

.header{
	margin-bottom: 20px;
}

.header, .footer, .push{
	height: 70px;
}

.header, .footer{
	background: black;
	color: white;
}

.push, .footer{
	clear: both;
}

.footer{
	margin-top: -70px;
}

.header h1{
	text-transform: uppercase;
	font-family: fantasy;
	font-weight: 100;
	font-size: 87px;
	margin: 0;
	line-height: 70px;
	width: 100%;
	text-align: center;
}

.header h1 span{
	left: 36px;
	right: 0;
	margin: auto;
	line-height: 18px;
	position: absolute;
	top: 70px;
	color: red;
	font-size: 20px;
	vertical-align: baseline;
	letter-spacing: 30px;
}

.content-container{
	vertical-align: top;
	position: relative;
	width: 50%;
	min-width: 500px;
	display:inline-block;
	padding: 10px;
	box-sizing: border-box;
}

.forum div, .sections div, .thread div, .section div{
	border-bottom: 1px solid black;
}

.forum div:hover:not(.first-line), .sections div:hover:not(.first-line){
	background: lightgray;
}

.forum div span, .sections div span, .thread div span, .section div span{
	min-width: 250px;
	display: inline-block;
	box-sizing: border-box;
	height: 40px;
	line-height: 20px;
	padding: 10px;
	cursor: pointer;
	font-size: 16px;
}

.thread{
	position: absolute;
	left: 0;
	top: 0;
	background: white;
	height: 100%;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

.button{
	background: gray;
	display: inline-block;
	padding: 15px;
	margin: 10px;
	border-radius: 10px;
	color: white;
	cursor: pointer;
	box-shadow: 0 0 5px 1px black;
}

.button:hover{
	background: darkgray;
}
