html, body{
	margin: 0;
	padding: 0;
}

.main-container{
	min-height: 100%;
}

.header{
	margin-bottom: 20px;
}

.header, .footer, .push{
	height: 70px;
}

.header, .footer{
	background: black;
	color: white;
}

.push, .footer{
	clear: both;
}

.footer{
	margin-top: -70px;
}

.header h1{
	text-transform: uppercase;
	font-family: fantasy;
	font-weight: 100;
	font-size: 87px;
	margin: 0;
	line-height: 70px;
	width: 100%;
	text-align: center;
}

.header h1 span{
	left: 36px;
	right: 0;
	margin: auto;
	line-height: 18px;
	position: absolute;
	top: 70px;
	color: red;
	font-size: 20px;
	vertical-align: baseline;
	letter-spacing: 30px;
}

.content-container{
	position: relative;
}

.forum div span{
	min-width: 250px;
	border-bottom: 1px solid black;
	display: inline-block;
	box-sizing: border-box;
	height: 40px;
	line-height: 20px;
	padding: 10px;
	cursor: pointer;
	font-size: 16px;
}
