body{
	background: black;
	color: white;
}

.menu-item-name{
	background: rgb(71, 71, 71);
	box-shadow: 0 0 5px 1px black;
}

.menu-item-name:hover, .sub-item:hover, .sub-sub-item:hover, .sub-sub-sub-item:hover, .sub-sub-sub-sub-item:hover, .menu-item-name.first:hover, .menu-item:hover .menu-item-name{
	background: gray;
}

.sub-item, .sub-sub-item, .sub-sub-sub-item, .sub-sub-sub-sub-item{
	background: rgb(71, 71, 71);
	box-shadow: 0 0 5px 1px black;
}

.sub-item.smaller, .sub-sub-item.smaller, .sub-sub-sub-item.smaller, .sub-sub-sub-sub-item.smaller{
	background: rgb(99, 118, 126);
}

.sub-item.smaller:hover, .sub-sub-item.smaller:hover, .sub-sub-sub-item.smaller:hover, .sub-sub-sub-sub-item.smaller:hover{
	background: rgb(119, 138, 146);
}

#new-instrument{
	background: gray;
}
