.mouse-control {
    position: absolute;
    top: 60px;
    left: 10px;
    height: 22px;
    border: 1px solid black;
    box-sizing: border-box;
    background: white;
    box-shadow: black 1px 1px 3px 0px;

    .mouse-option {
        background: red;
        height: 20px;
        width: 20px;
        display: inline-block;
        cursor: url('../assets/pointer.png'), pointer;

        &:hover {
            -webkit-filter: brightness(1.5);
        }

        &#normal-mouse {
            background: url(../assets/cursor.png);

            &.select {
                background: url(../assets/cursor-select.png);
            }
        }

        &#pencil-mouse {
            background: url(../assets/pencil.png);

            &.select {
                background: url(../assets/pencil-select.png);
            }
        }

        &#text-mouse {
            background: url(../assets/text-icon.png);
            background-size: 12px 15px;
            background-repeat: no-repeat;
            background-position: center;

            &.select {
                background: url(../assets/text-icon-select.png);
                background-size: 12px 15px;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}
